'.text.html':
  'Fluid layout':
    'prefix': 'layout'
    'body': '<f:layout name="$1" />'
  'Fluid cObject':
    'prefix': 'cobject'
    'body': '<f:cObject typoscriptObjectPath="$1" ${2:data="$3"} />'
  'Fluid base':
    'prefix': 'base'
    'body': '<f:base />'
  'Fluid Debug':
    'prefix': 'debug'
    'body': '<f:debug>$1</f:debug>'
  'Fluid section':
    'prefix': 'section'
    'body': '<f:section name="$1">\n\t$2\n</f:section>'
  'Fluid render partial':
    'prefix': 'partial'
    'body': '<f:render partial="$1" arguments="{_all}"/>'
  'Fluid format':
    'prefix': 'format'
    'body': '<f:format.$1>$2</f:format.$1>'
  'Fluid image':
    'prefix': 'image'
    'body': '<f:image src="$1" />'
  'Fluid Link':
    'prefix': 'link'
    'body': '<f:link.$1>$2</f:link.$1>'
  'Fluid link page':
    'prefix': 'page'
    'body': '<f:link.page pageUid="$1"></f:link.page>'
  'Fluid translate':
    'prefix': 'translate'
    'body': '<f:translate key="$1" />'
  'Fluid Link Action':
    'prefix': 'action'
    'body': '<f:link.action ${1:action="$2"} ${3:controller="$4"} ${5:arguments="$6"}>$7</f:link.action>'
  'Fluid external link':
    'prefix': 'external'
    'body': '<f:link.external ${1:uri="$2"} ${3:target="_blank"}>$4</f:link.external>'
  'Fluid uri':
    'prefix': 'uri'
    'body': '<f:uri.$1></f:uri.$1>'
  'Fluid uri action':
    'prefix': 'uri action'
    'body': '<f:uri.action ${1:action="$2"} ${3:controller="$4"} ${5:arguments="$6"} />'
  'Fluid uri email':
    'prefix': 'uri email'
    'body': '<f:uri.email email="$1" />'
  'Fluid uri page':
    'prefix': 'uri page'
    'body': '<f:uri.page pageUid="$1" />'
  'Fluid flash message':
    'prefix': 'flash message'
    'body': '<f:flashMessages  />'
  'Fluid checkbox':
    'prefix': 'checkbox'
    'body': '<f:form.checkbox ${1:name="$2"} ${3:value="$4"} />'
  'Fluid radio':
    'prefix': 'radio'
    'body': '<f:form.radio ${1:name="$2"} ${3:value="$4"} />'
  'Fluid hidden':
    'prefix': 'hidden'
    'body': '<f:form.hidden ${1:name="$2"} ${3:value="$4"} />'
  'Fluid password':
    'prefix': 'password'
    'body': '<f:form.password ${1:name="$2"} />'
  'Fluid select':
    'prefix': 'select'
    'body': '<f:form.select ${1:name="$2"} ${3:options="$4"} />'
  'Fluid submit':
    'prefix': 'submit'
    'body': '<f:form.submit ${1:name="$2"} ${3:value="$4"} />'
  'Fluid submit':
    'prefix': 'textarea'
    'body': '<f:form.textarea ${1:cols="$2"} ${3:rows="$4"} ${5:name="$6"} ${7:value="$8"} />'
  'Fluid textfield':
    'prefix': 'textfield'
    'body': '<f:form.textfield ${1:name="$2"} ${3:value="$4"} />'
  'Fluid upload':
    'prefix': 'upload'
    'body': '<f:form.upload ${1:name="$2"} />'
  'Fluid crop':
    'prefix': 'crop'
    'body': '<f:format.crop ${1:maxCharacters="$2"} ${3:append="$4"}>$5</f:format.crop>'
  'Fluid currency':
    'prefix': 'currency'
    'body': '<f:format.currency currencySign="$1" decimalSeparator="$2" thousandsSeparator="$3">$4</f:format.currency>'
  'Fluid date':
    'prefix': 'date'
    'body': '<f:format.date ${1:format="$2"}>$3</f:format.date>'
  'Fluid htmlentitiesDecode':
    'prefix': 'entitiesDecode'
    'body': '<f:format.htmlentitiesDecode></f:format.htmlentitiesDecode>'
  'Fluid raw':
    'prefix': 'raw'
    'body': '<f:format.raw>$1</f:format.raw>'
  'Fluid number':
    'prefix': 'number'
    'body': '<f:format.number ${1:decimals="$2"} ${3:decimalSeparator="$4"} ${5:thousandsSeparator="$6"}>$7</f:format.number>'
  'Fluid padding':
    'prefix': 'padding'
    'body': '<f:format.padding ${1:padLength="$2"} ${3:padString="$4"}>$5</f:format.padding>'
  'Fluid printf':
    'prefix': 'printf'
    'body': '<f:format.printf ${1:arguments="$2"}>$3</f:format.printf>'
  'Fluid nl2br':
    'prefix': 'nl2br'
    'body': '<f:format.nl2br>$1</f:format.nl2br>'
  'Fluid foreach':
    'prefix': 'foreach'
    'body': """
      <f:for each="$1" as="$2" ${3:iteration="i"}>
        $4
      </f:for>
    """
  'Fluid cycle':
    'prefix': 'cycle'
    'body': """
      <f:cycle ${1:values="{$2\\}"} ${3:as="$4"}>
        {$4}
      </f:cycle>
    """
  'Fluid if else':
    'prefix': 'if'
    'body': """
      <f:if condition="{$1\\}">
        <f:then>
          $2
        </f:then>
        <f:else>
          $3
        </f:else>
      </f:if>
    """
  'Fluid switch':
    'prefix': 'switch'
    'body': """
      <f:switch expression="$1">
        <f:case value="$2">$3</f:case>
        <f:case value="$4">$5</f:case>
        <f:case default="true"></f:case>
      </f:switch>
    """
  'Fluid alias':
    'prefix': 'alias'
    'body': """
      <f:alias map="$1">
         $2
      </f:alias>
    """
  'Fluid comment':
    'prefix': 'comment'
    'body': """
      <f:comment>
         $1
      </f:comment>
    """
  'Fluid form':
    'prefix': 'form'
    'body': """
      <f:form ${1:action="$2"} ${3:name="$4"} ${5:object="$6"}>
        $7
      </f:form>
    """
  'Fluid errors':
    'prefix': 'error'
    'body': """
      <f:form.errors>
        {error.code}: {error.message}
      </f:form.errors>
    """
